<!--header-->
<header>
    <nav class="navbar bg-dark navbar-expand-md navbar-dark">
        <div class="container">
         <a href="#" class="navbar-brand"><h1 class="badge bg-dark text-light display-1" ><b>ENTERPRISE APP</b></h1>
         <span class="badge rounded pill badge-light "><i>shopzone</i></span></a>   
         <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navlist">
             <span class="navbar-toggler-icon" ></span>
         </button>
         <div class="mb-6">
             <input type="text" class="form-control" placeholder="Search Here">
         </div>
         <div>
             <button class="btn btn-secondary">search</button>
         </div>
         <div class="navbar-collapse collapse mat-display-headline" id="navlist">
             <ul class="navbar-nav me-auto ">
                 <li class="nav-item">
                     <a  class="nav-link" routerLink="/home">HOME</a>
                 </li>
                 <li class="nav-item dropdown">
                     <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> LOGIN</a>
                     <ul class="dropdown-menu">
                         <li><a  class="dropdown-item" routerLink="/login">Login as Customer</a></li>
                         <li><hr class="dropdown-divider"></li>
                         <li><a  class="dropdown-item" routerLink="/admin">Login as Seller</a></li>
                     </ul>
                 </li>
                 <li class="nav-item">
                     <a  class="nav-link" routerLink="product">PRODUCT</a>
                 </li>
                 <li class="nav-item dropdown">
                     <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown">CART</a>
                     <ul class="dropdown-menu">
                         <li><a  class="dropdown-item" routerLink="order">My Order</a></li>
                         <li class="dropdown-divider"></li>
                         <li><a  class="dropdown-item" routerLink="wishlist">My WishList</a></li>
                     </ul>
                 </li>
                 <li class="nav-item">
                     <a  class="nav-link"> CAREER</a>
                 </li>
                 <li class="nav-item">
                     <a  class="nav-link"> ABOUT </a>
                 </li>
             </ul>
         </div>
         <div><h2 class="text-light badge rounded-pill bg-light text-dark ">{{titleName}}</h2></div>
        </div> 
       
     </nav>     
</header>
<!--tabs-->
<div class="row bg-secondary text-center ">
    <div class="col-md-2" routerLink="/mobile">
        <div class="card bg-secondary">
            <div class="card-body"><b >MOBILE</b></div>
        </div>
    </div>
    <div class="col-md-2 " routerLink="/lap">
        <div class="card bg-secondary">
            <div class="card-body"><b>LAPTOP</b></div>
        </div>
    </div>
    <div class="col-md-2"routerLink="/elect">
        <div class="card bg-secondary">
            <div class="card-body"><b>ELECTRONICS</b></div>
        </div>
    </div>   
    <div class="col-md-2"routerLink="/accessories">
        <div class="card bg-secondary">
            <div class="card-body"><b>ACCESSORIES</b></div>
        </div>
    </div>
    <div class="col-md-2"routerLink="/fashion">
        <div class="card bg-secondary">
            <div class="card-body"><b>FASHION</b></div>
        </div>
    </div>
    <div class="col-md-2" routerLink="/grocery">
        <div class="card bg-secondary">
            <div class="card-body"><b>GROCERY</b></div>
        </div>
    </div>
</div>
<!--pages-->
<section><router-outlet></router-outlet></section>
<!--footer-->
<footer class="bg-dark text-light text-center my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Get To Know Us</h2><hr>
                <ul class="list-unstyled ">
                    <li>Careers</li><br>
                    <li>About</li><br>
                    <li>Press Release</li><br>
                    <li>Welfare</li><br>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Connect With US</h2><hr>
                <ul class="list-unstyled">
                    <li>Mail</li><br>
                    <li>Facebook</li><br>
                    <li>Twittwer</li><br>
                    <li>Youtube</li><br>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Help</h2><hr>
                <ul class="list-unstyled">
                    <li>Payments</li><br>
                    <li>Shipping</li><br>
                    <li>FAQ</li><br>
                    <li>Cancellation</li><br>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Policy</h2><hr>
                <ul class="list-unstyled">
                    <li>Terms Of Use</li><br>
                    <li>Cancel Policy</li><br>
                    <li>Payment Policy</li><br>
                    <li>Return Policy</li><br>
                </ul>
            </div>
        </div>
    </div>
</footer>